<IMG align=left src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg" height=30>

<div align=right>
LING 398<br>
Elsayed Issa<br>
Jingying Hu<br>
Spring 2026
</div>

<h1 align=center>Python Programming - Overview</h1>

## Lecture Plan (75 minutes):

1. Questions, Installation troubleshooting, and command-line  (10 minutes)

2. Jupyter Notebook (10 minutes)

3. Python Basics (50 minutes)
    - Variable assignment
    - Numbers
    - Boolean and the Logic operators
    - The None type
    - Strings


4. Questions (5 minutes)

<h1 align=center>1. Questions and Installation Troubleshooting</h1>

- Mac

- Linux

- Windows

- Anaconda troubleshooting: https://docs.anaconda.com/free/anaconda/reference/troubleshooting/

<h1 align=center>2. Some command-line commands</h1>


<table border="1">
    <tr>
        <th style="text-align: left" >Command</th>
        <th style="text-align: left" >Meaning</th>
    </tr>
    <tr>
        <td style="text-align: left" >pwd</td>
        <td style="text-align: left" >print working directory</td>
    </tr>
    <tr>
        <td style="text-align: left" >cd</td>
        <td style="text-align: left" >change directory</td>
    </tr>
    <tr>
        <td style="text-align: left" >cd ..</td>
        <td style="text-align: left" >change directory and move up on level</td>
    </tr>
     <tr>
        <td style="text-align: left" >mkdir</td>
        <td style="text-align: left" >create a dirctory (folder)</td>
    </tr>
     <tr>
        <td style="text-align: left" >touch</td>
        <td style="text-align: left" >create a file</td>
    </tr>
    <tr>
        <td style="text-align: left" >cp</td>
        <td style="text-align: left" >copy file</td>
    </tr>
    <tr>
        <td style="text-align: left" >cp -r </td>
        <td style="text-align: left" >copy folder</td>
    </tr>
    <tr>
        <td style="text-align: left" >mv</td>
        <td style="text-align: left" >move or rename file/folder</td>
    </tr>
    <tr>
        <td style="text-align: left" >ls</td>
        <td style="text-align: left" >list all files and folder in a directory</td>
    </tr>
    <tr>
        <td style="text-align: left" >cat</td>
        <td style="text-align: left" >view the content of a file</td>
    </tr>
    <tr>
        <td style="text-align: left" >rm</td>
        <td style="text-align: left" >delete a file</td>
    </tr>
    <tr>
        <td style="text-align: left" >rmdir</td>
        <td style="text-align: left" >delete a folder</td>
    </tr>
 </table>

<h1 align=center>3. Jupyter Notebook</h1>

- There are many ways to write and run Python code, but we will be using `Jupyter Notebooks.`

- `Jupyter Notebooks` allow us to write active runnable code and text.

- For example:

In [1]:
my_name = "John"
print(my_name)

John

- The idea is that the presentation and explanation of Python examples can be interleaved with working editable code examples.

- The software that does this is `Jupyter`. This is a part of the `Anaconda` installation of Python which is `free`.

- Some of our handouts/presentations/homework will be written using `Jupyter`, so that, as I'm presenting basic python concepts, you'll have little code bits you can play with.

### Running Jupyter

- Download the <code>02-august-22.ipynb</code> notebook from the website to your desktop or any other folder.

- Open the terminal application on your machine.

- Using the <code>cd</code> command, switch to <code>~/Desktop</code> or the designated folder.

- Then type <code>jupyter notebook</code>.

- A window should open that includes <code>02-august-22.ipynb</code>. Click on that.

- You can now run/change the code snippets in this notebook.

### Quiting Jupyter

- To exit the <i>Jupyter</i> program, you first close the notebook window. There are then two ways to quit:

- In the *dashboard* window, click <code>Logout</code>. Then, in the terminal window, hit <code>Control-c</code> <b>twice</b>.

- Alternatively, you can just hit the <code>Quit</code> buton in the *dashboard* window.

### What you can do in Jupyter

- There are two kinds of <i>fields</i> in a notebook: <b>code</b> and <b>text</b>. The code fields for us will always be Python. The text fields are formatted using a combination of <i>HTML</i> and <i>markdown</i>.

- Double-clicking in a text field displays the formatting command. Pressing the <i>run</i> button in the menubar shows the formatted text.

- Code fields can be edited directly. Pressing the <i>run</i> button runs the code.

<h1 align=center>3. Python Programming - Basics I</h1>


## Objectives:
You will learn:
1. Variable assignment.
2. Basic object types:
    - strings
    - numbers
    - the None type
    - boolean

3. Using some built-in fuctions:
    - `print()`
    - `type()`
    - `isinstance()`
    - `int()`
    - `float()`
    - `complex()`
    - `bool()`
    - `str()`

# 3.1 Variable assignment:

- Variables help us to write flexible code.
- In Python, the `=` symbol represents the `assignment` operator.

In [1]:
name = "Salem"
print("Name:", name)
print("-----")
age = 20
print("Age:", age)

Name: Salem
-----
Age: 20

In [2]:
print("Python is the greatest programming language!")

Python is the greatest programming language!

In [5]:
my_name = "Elsayed Issa"
print(my_name)
my_age = 100
my_age

Elsayed Issa

100

In [7]:
my_number_list = [1,2,3]
my_number_list

[1, 2, 3]

In [9]:
a = "jkdfhj"
b = 34

## Varibale Names:
- All varibale names are valid except starting with a numerical value or containing `.`. Both `3varibale` and `this.varibale` are INVALID.
- Variable names cannot contain one of the words reserved by python:
    - `for`, `while`, `break`, `pass`, `continue`, `try`, `except`
    - `in`, `not`, `is`, `import`, `as`, `with`, `if`, `from`, `else` 
    - `def`, `class`, `return`, `yield`, `raises`, `elif`, `finally`

### Practice:
- valid vs. invalid variable name:
    - `asd`
    - `as12`
    - `for`
    - `123`
    - `None`
    - `12_asd`
    - `num_py`

In [10]:
import re
def check(name):
    python_reserved_word = ["for", "while", "break", "pass", "continue", "try", "except", "in", "not", "is", "import", "as", 
                            "with", "if", "from", "else", "def", "class", "return", "yiled", "raises", "elif", "finally", "None"]
    if name in  python_reserved_word:
        return "Invalid"
    if not isinstance(name, str):
        return "Invalid"
    if not re.match(r'^[a-zA-Z_][a-zA-Z0-9_]*$', name):
        return "Invalid"
    return f"`{name}` is a valid varibale name."

In [14]:
print(check("asd"))
print(check("as12"))
print(check("for"))
print(check("123"))
print(check("None"))
print(check("12_asd"))
print(check("course"))

`asd` is a valid varibale name.
`as12` is a valid varibale name.
Invalid
Invalid
Invalid
Invalid
`course` is a valid varibale name.

# 3.2 Basic object types

- In Python, the term “object” is very important. 

- Objects include numbers, strings of characters, lists, functions.

- a Python object is essentially anything that you can assign to a variable.

*NOTE:* `type` and `isinstance` are two **built-in** fuctions that you can use to find the type of the object.

# What is an OBJECT in python?

*NOTE:* this might be advanced. If we could not get the whole idea, no worries. We will come to this later.

Before we start, let's understand two things:

1. What is an object in python?
2. What are methods (built-in functions)?

In [15]:
# 1. What is an object in python?
# This is an object: a very simple calculator

class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        
    def add(self):
        return self.num1 + self.num2

In [22]:
# an object is anything that can be assigned to a variable
calculator = Calculator(10, 20)
#print(calculator.add())
print(type(calculator))
# we use the method `add` to add the two numbers
#print(calculator.add())

# lets' check the type
#print(type(calculator))

# lets' use isinstance
#print(isinstance(calculator, Calculator))

<class '__main__.Calculator'>

In [5]:
# 2. What are methods?

# this is a function but `add()` in the previous example is a method
def calc(num1, num2, operation):
    if operation == "add":
        return num1 + num2
    elif operation == "subtract":
        return num1 - num2
    elif operation == "multiply":
        return num1 * num2
    elif operation == "divide":
        return num1 / num2

In [6]:
calc(1,2, "add")

3

<h2 align=center>Difference between methods and functions</h2>


<table border="1">
    <tr>
        <th style="text-align: center">Methods</th>
        <th style="text-align: center">Functions</th>
    </tr>
    <tr>
        <td style="text-align: left" >A method is a set of instructions that are associated with an object.</td>
        <td style="text-align: right" >A function is a set of instructions or procedures to perform a specific task</td>
    </tr>
    <tr>
        <td style="text-align: left" >A method is a function, which is linked with any object.</td>
        <td style="text-align: right" >A function doesn’t need any object and is independent</td>
    </tr>
    <tr>
        <td style="text-align: left" >A method is called by the object’s name.</td>
        <td style="text-align: right" >A function is called with its name</td>
    </tr>
    <tr>
        <td style="text-align: left" >A method lies under object-oriented programming.</td>
        <td style="text-align: right" >A Function is an independent functionality.</td>
    </tr>
    <tr>
        <td style="text-align: left" >to use methods we need to declare the class.</td>
        <td style="text-align: right" >In functions, we don’t need to declare the class.</td>
    </tr>
</table>

In [23]:
name = "Jingyang"
name

'Jingyang'

In [26]:
print(type(name))

<class 'str'>

In [27]:
age = 23
print(type(age))

<class 'int'>

In [28]:
ages = [23, 24, 25]
type(ages)

list

In [29]:
print(isinstance(name, str))

True

In [30]:
print(isinstance(ages, str))

False

<h1 align=center>1. Numbers</h1>


Types:

- Integers

- Floats

- Complex numbers

## Integers:

- They are whole numbers: ..., -2, -1, 0, 1, 2, ...

In [31]:
# an integer assigned to a varibale called int_number
int_number = 5

# print the value stored in the variable called int_number
print(int_number)

# what is the type of the value stored in the variable called int_number
print(type(int_number))

5
<class 'int'>

In [32]:
my_phone_number = 726353536

type(my_phone_number)

int

In [10]:
my_phone_number2 = "726353536"

type(my_phone_number2)

str

In [12]:
converted = int(my_phone_number2)
type(converted)

int

In [15]:
str(123)

'123'

In [16]:
int(123)

123

In [36]:
my_name = "123"
print(type(my_name))

<class 'str'>

In [37]:
my_int_name = int(my_name)
print(my_int_name)

123

- The built-in function `int` is used to **identify** the type of the integer and **convert** objects to integer.

In [11]:
# 1) identify the type of the value stored in the variable called int_number 
# (we ask here if the type of value is int or not)
print(isinstance(int_number, int))

# 2) convert "10" to integer
example = "10"
print(type("10"))
print(int(example))

True
<class 'str'>
10

## Floats:

- They are decimal numbers: -0.24, 0.023

In [38]:
# float number assigned to a varibale called float_number
float_number = 0.5983

# print the value stored in the variable called float_number
print(float_number)

# what is the type of the value stored in the variable called float_number
print(type(float_number))

0.5983
<class 'float'>

- The built-in function `float` is used used to **identify** the type of the float and **convert** objects to float.

In [18]:
# 1) identify the type of the value stored in the variable called float_number 
# (we ask here if the type of value is float or not)
print(isinstance(int_number, float))

# 2) convert "10" to integer
example = 9
print(type(example))
print(float(example))

False
<class 'int'>
9.0

In [19]:
n = 1
type(n)

int

In [20]:
# can we make n a float?
float(n)

1.0

# Question

- Why do you think 1/3 == .33 returns False?

Please go to the following link: https://docs.python.org/3/tutorial/floatingpoint.html

In [39]:
1/3 == 0.333

False

# Complex

In [40]:
# integer assigned to a varibale called complex_number
complex_number = complex(5)
print("Complex:", complex_number)
print("Type:", type(complex_number))
print("Type Verfied:", isinstance(complex_number, complex))
print()

Complex: (5+0j)
Type: <class 'complex'>
Type Verfied: True

In [41]:
print(isinstance(55, int))

True

In [43]:
print(isinstance("55", str))

True

### Arithmetic Operators

<table border="1">
    <tr>
        <th style="text-align: left" >Operator</th>
        <th style="text-align: left" >Meaning</th>
    </tr>
    <tr>
        <td style="text-align: left" >+</td>
        <td style="text-align: left" >addition</td>
    </tr>
    <tr>
        <td style="text-align: left" >-</td>
        <td style="text-align: left" >subtraction</td>
    </tr>
    <tr>
        <td style="text-align: left" >/</td>
        <td style="text-align: left" >division</td>
    </tr>
     <tr>
        <td style="text-align: left" >*</td>
        <td style="text-align: left" >multiplication</td>
    </tr>
     <tr>
        <td style="text-align: left" >**</td>
        <td style="text-align: left" >exponentiation</td>
    </tr>
    <tr>
        <td style="text-align: left" >//</td>
        <td style="text-align: left" >floor division</td>
    </tr>
    <tr>
        <td style="text-align: left" >%</td>
        <td style="text-align: left" >modulus</td>
    </tr>
</table>

In [45]:
# addition
3 + 0.4

3.4

In [46]:
# exponentiation
2**2

4

In [47]:
# floor division -> the result rounds to the nearst integer 
21//2

10

In [48]:
# modulus -> the result is the remainder of a division
a = 7
b = 2

a % b

1

In [51]:
num_1 = 24
num_2 = 50

my_name = "Sayed"

print(type(my_name))
print(type(num_1))
print(type(num_2))

<class 'str'>
<class 'int'>
<class 'int'>

In [52]:
num_1 + num_2

74

In [56]:
num_1 / my_name

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [57]:
num_1**num_2

1024618246531448192529486101931556275808450117982966277666337116389376

<h1 align=center>3. Boolean</h1>


- There are two boolean-type objects: True and False; they belong to the built-in type bool. We have already seen that the isinstance function either returns True or False, as a given object either is or isn’t an instance of a specific type.

### Comparison Operators

<table border="1">
    <tr>
        <th style="text-align: left" >Operator</th>
        <th style="text-align: left" >Meaning</th>
    </tr>
    <tr>
        <td style="text-align: left" >==</td>
        <td style="text-align: left" >equal</td>
    </tr>
    <tr>
        <td style="text-align: left" >!=</td>
        <td style="text-align: left" >not equal</td>
    </tr>
    <tr>
        <td style="text-align: left" > > </td>
        <td style="text-align: left" >greater than</td>
    </tr>
     <tr>
        <td style="text-align: left" > < </td>
        <td style="text-align: left" >less than</td>
    </tr>
     <tr>
        <td style="text-align: left" > >= </td>
        <td style="text-align: left" >greater than or equal to</td>
    </tr>
    <tr>
        <td style="text-align: left" > <= </td>
        <td style="text-align: left" >less than or equal to</td>
    </tr>
</table>

In [58]:
# Is 5 > 6
5 > 6

False

In [59]:
5 < 6

True

In [32]:
# the two boolean-objects: `True` and `False`
type(True)

bool

In [33]:
# `False` is a boolean-type object
isinstance(False, bool)

True

In [37]:
isinstance(True, bool)

True

In [38]:
'hat' != 123

True

In [60]:
#hat = 2

In [64]:
hat != 123

True

In [65]:
"hat" == "123"

False

In [66]:
x = "hat"

x != "123"

True

<h1 align=center>4. Logic Operators</h1>

- Python provides familiar operators for performing basic boolean logic:

<table border="1">
    <tr>
        <th style="text-align: left" >Operator</th>
        <th style="text-align: left" >Meaning</th>
    </tr>
    <tr>
        <td style="text-align: left" >and</td>
        <td style="text-align: left" >returns True if both are True</td>
    </tr>
    <tr>
        <td style="text-align: left" >or</td>
        <td style="text-align: left" >returns True if one is True</td>
    </tr>
    <tr>
        <td style="text-align: left" >not</td>
        <td style="text-align: left" >reverse the output</td>
    </tr>
</table>

In [67]:
True & False

False

In [44]:
# demonstrating boolean-logic operators
# and
print(True and False)

# another example
num1 = 3
print(num1 > 1 and num1 < 2)

False
False

In [68]:
num_1 = 3
num_1 > 1

True

In [70]:
num_1 < 2

False

In [47]:
# or
print(True or False)

# another example
num2 = 3
print(num2 > 1 or num2 < 2)

True
True

In [48]:
# not
print(not False)

# another example
num3 = 3
print(not(num3 > 1 or num3 < 2))

# example
print(not(num3 == 4))

True
False
True

<h1 align=center>5. The `None` Type</h1>

- `None` is used a lot as a placeholder.

In [49]:
type(None)

NoneType

In [50]:
v = 5
v is None

False

In [52]:
v is not None

True

In [ ]:
my_name = None

<h1 align=center>6. Strings</h1>

- The `string` type is used to store characters. 

- Quotes are used with strings as follows:

1) single quotes: `'Hello Python'`
2) double quotes: `"Hello Python"`
3) triple quotes: `"""Hello Python"""` or `'''Python Python'''`

In [1]:
my_string = "Hello Python"
my_string

'Hello Python'

In [5]:
my_string = "السلام عليكم"
my_string

'السلام عليكم'

- Python uses `UTF-8` unicode by default.

- The built-in function `str` is used used to **identify** the type of the string and **convert** objects to strings.

In [6]:
# 1) identify the type of the value stored in the variable called int_number (we ask here if the type of value is int or not)
print(isinstance(my_string, str))

# 2) convert 10 to string
example = 10
print(type(10))
zz = str(example)
type(zz)

True
<class 'int'>

str

- IMPORTANT: `strings` are **immutable** which means that once a string is created, it cannot be changed

In [ ]:
"what's your name?"

In [57]:
x = """what's your name?
I am 20 Years old.
"""
x

"what's your name?\nI am 20 Years old.\n"

In [ ]:
'what\'s your name?'

## Operations on Strings:

### Indexing and Slicing

- Indexing means accessing individual items from a sequence by specifying the index of that item.

| P | Y | T | H | O | N |
| :-|:-:|:-:|:-:|:-:|-: |           
| 0 | 1 | 2 | 3 | 4 | 5 | 
| -6 | -5 | -4 | -3 | -2 | -1 |

- we have `positive` and `negative` indexes.

- strings are sequences of characters and can be sliced.

- Slicing syntax is as follows `seq[start, stop, step]`

In [8]:
# get index 0 which will be the P letter - positive
word = "PYTHON"
word[4]

'O'

In [9]:
# get index 3 which will be the H letter - positive
word = "PYTHON"
word[3]

'H'

In [17]:
# get index -1 which will be the N letter - negative
word = "PYTHON"
word[3:6]

'HON'

In [18]:
# slicing with step
word = "PYTHON"
word[0:4:1]

'PYTH'

In [69]:
# get all
word = "PYTHON"
word[:]

'PYTHON'

In [21]:
# get what's after index 2 - note that index 2 is included.
word = "PYTHON"
word[2:]

'THON'

In [22]:
# get what's before index 2 - note that index 2 is NOT included.
word = "PYTHON"
word[:2]

'PY'

In [23]:
# reverse the order using negaive step
word = "PYTHON"
word[::-1]

'NOHTYP'

In [26]:
# use negative to get the last 3 letters
word = "PYTHON"
word[-3:]

'HON'

In [ ]:
# using the `slice()` built-in function
# word = "PYTHON"
# word[slice(0,2,1)]

In [23]:
# Palindrome
#racecar

#radar

our_word = "dood"
# if the given word is equal to the reverse of the given word, print "It is a Palindrome"
if our_word == our_word[::-1]:
    print("It is a Palindrome")
# Otherwise, print "Give me another word"
else:
    print("Give me another word")

It is a Palindrome

### Create newline `\n`

- means a new line

In [25]:
sentence = "I ate a good lunch.\n I will eat everyday."
print(sentence)

I ate a good lunch.
 I will eat everyday.

### Tab character `\t`

- renders a tab character

In [28]:
sentence2 = "I ate a good lunch\t\t\t. I will eat everyday."
print(sentence2)

I ate a good lunch			. I will eat everyday.

### Quotes

In [72]:
x = """ I am a string.
I am part of the same string.
    me... too!"""
x

' I am a string.\nI am part of the same string.\n    me... too!'

## Some string methods:

 - `capitalize()`
 - `lower()`
 - `upper()`
 - `split()`
 - `startswith()`
 - `endswith()`
 - `format()`
 - `isdigit()`
 - `join()`

### `join()`

In [30]:
# Example 1
x1 = "Python"
x2 = list(x1)
x2

['P', 'y', 't', 'h', 'o', 'n']

In [35]:
"*HELLO*".join(x2)

'P*HELLO*y*HELLO*t*HELLO*h*HELLO*o*HELLO*n'

In [41]:
# Example 2
class_names = ("Shamiso", "Jeffery", "Jingyang", "Qasim", "Ronald")

x = " + -- ".join(class_names)

print(x)

Shamiso + -- Jeffery + -- Jingyang + -- Qasim + -- Ronald

### `capitalize()`

In [42]:
x1 = "cat".capitalize()
print("Capitalizes the first letter:", x1)

Capitalizes the first letter: Cat

### `upper()`

In [43]:
x2 = "cat".upper()
print(x2)

CAT

### Format Strings:

- We use the `format` method to replace placeholders with values

#### First approach

In [83]:
# we have the following two variables:
name = "John"
subject = "linguistics"

"{name} studies {subject}.".format(name=name, subject=subject)

'John studies linguistics.'

In [84]:
"{} loves {}.".format("John", "Mary")

'John loves Mary.'

In [31]:
# padding with spaces
"{item:>8}".format(item="stew")

'    stew'

#### Second approach

In [85]:
# we use f-string
f"{name} studies {subject}."

'John studies linguistics.'

In [44]:
name = "Qasim"

depart = "CS"

"{name} studies {depart}.".format(name=name, depart=depart)

'Qasim studies CS.'

In [45]:
f"{name} studies {depart}."

'Qasim studies CS.'