<IMG align=left src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg" height=10>

<div align=right>
LING 398<br>
Elsayed Issa<br>
Fall 2024
</div>

<h1 align=center>String Methods</h1>

- Python has a set of built-in methods that you can use on strings.

- All string methods returns new values. They do not change the original string.

- Definition of methods in python as well as definition of method arguments.

- A method is a function that “belongs to” an object.

- String methods are 47 and you NEED TO LEARN WHAT YOU NEED.

<h1 align=center>1. Some Common Methods</h1>


<table border="1">
    <tr>
        <th style="text-align: left" >Method</th>
        <th style="text-align: left" >Sister methods</th>
        <th style="text-align: left" >Meaning</th>
    </tr>
    <tr>
        <td style="text-align: left" >split()</td>
         <td style="text-align: left" >rsplit() - splitlines()</td>
        <td style="text-align: left" >splitting strings into list of strings.</td>
    </tr>
    <tr>
        <td style="text-align: left" >strip()</td>
         <td style="text-align: left" >rstrip() - lstrip()</td>
        <td style="text-align: left" >remove whitespaces from a string</td>
    </tr>
    <tr>
        <td style="text-align: left" >casefold()</td>
         <td style="text-align: left" >upper() - lower() - capitalize()</td>
        <td style="text-align: left" >lower case and upper case characters</td>
    </tr>
    <tr>
        <td style="text-align: left" >join()</td>
         <td style="text-align: left" ></td>
        <td style="text-align: left" >takes all elements and joins them into one string</td>
    </tr>
    <tr>
        <td style="text-align: left" >format()</td>
         <td style="text-align: left" ></td>
        <td style="text-align: left" >formats the specified value(s) and insert them inside the string's placeholder.</td>
    </tr>
    <tr>
        <td style="text-align: left" >replace()</td>
         <td style="text-align: left" ></td>
        <td style="text-align: left" >replaces a specified string with another.</td>
    </tr>
    <tr>
        <td style="text-align: left" >count()</td>
         <td style="text-align: left" ></td>
        <td style="text-align: left" >returns the number of times a certain value appears in the string.</td>
    </tr>
    <tr>
        <td style="text-align: left" >find()</td>
         <td style="text-align: left" ></td>
        <td style="text-align: left" >finds the first occurrence of the specified value.</td>
    </tr>
   
 </table>

### `split(separator, maxsplit)`

- It splits a string into a list of strings. It can take two `arguments`:
  - `separator` is optional and it is the separator used tp split the string.
  - `maxsplit` is optional and it determines the number of split.

In [ ]:
# the default separator is white spaces
text1 = "welcome to Purdue."

res = text1.split()

print(res)

In [ ]:
# use separator and max_splits
text2 = "hello, my name is Python, and I am a wonderful programming language."

res = text2.split(", ", 1)

print(res)

### `rsplit(separator, maxsplit)`

- It splits a string into a list of strings. It starts from the `right`. It can take two `arguments` of `separator` and `maxsplit` as `split()`

In [ ]:
res = text2.rsplit(", ")

print(res)

In [ ]:
res = text2.rsplit(", ", 2)

print(res)

### `splitlines(separator, maxsplit)`

- This method splits a string into a list at line breaks. It can have `keeplinebreaks` as an optional argument to specify if we include the linebreak or not.

In [ ]:
# `False` is the default. 
text3 = "hello, my name is Python\nI am a wonderful programming language."

res = text3.splitlines()

print(res)

In [ ]:
# `True` will show the linebreak
text3 = "hello, my name is Python\nI am a wonderful programming language."

res = text3.splitlines(True)

print(res)

### `strip(characters)`

- It removes any whitespaces at the beginning or end of a string. It can take `characters` as optional argument if we want to remove a set of characters.

In [ ]:
text4 = "     python     "

print(f"{text4} is awesome.")

res = text4.strip()

print(f"{res} is awesome.")

In [ ]:
text5 = "xxxx...,f!!!Python...ddd"

res = text5.strip(".,xf!d")

print(f"{res} is awesome.")

### `rstrip(characters)`

- It removes any whitespaces at the end of a string. It can take `characters` as optional argument if we want to remove a set of characters.

In [ ]:
res = text4.rstrip()
res

In [ ]:
res = text5.rstrip(".,xf!d")
res

### `upper()`

- It returns a string with upper case characters.

In [ ]:
text6 = "python"

res = text6.upper()

print(res)

### `lower()`

- It returns a string with lower case characters.

In [ ]:
text7 = "PYTHON"

res = text7.lower()
res

### `capitalize()`

- It returns a string whose first character is upper case, and the rest is lower case.

In [ ]:
text8 = "python"

res = text8.capitalize()
res

### `casefold()`

- It returns a string where all the characters are lower case. It is stronger than `lower()`

In [ ]:
text9 = "PYTHON"

res = text9.casefold()
res

### `join(iterable)`

- it takes all elements and joins them into one string. It `must` have one argument which is the `iterable` meaning a list, tuple, et cetera.

In [ ]:
names = ("Marley", "Claire", "Dominic")

res = "#".join(names)

print(res)

### `format(value1, value2, ...)`

- It formats the specified value(s) and insert them inside the string's placeholder.

- The placeholder is defined using curly brackets: {}.

In [ ]:
# placeholders
# 1) 
text10 = "My name is {name}, I'm {age}".format(name = "Abby", age = 20)
print(text10)

# 2)
text11 = "My name is {0}, I'm {1}".format("Abby",20)
print(text11)

# 3) 
text12 = "My name is {}, I'm {}".format("Abby",20)
print(text12)

In [ ]:
# formatting styles
# (1) `:<` means Left aligns the result (within the available space)
text13 = "I am {:<8} years old."
print(text13.format(20))

# read more on formatting styles: https://docs.python.org/3/library/string.html#formatspec

In [ ]:
# using f string. Here you do not need to use format()
name = "Abby"
age = 20

text14 = f"My name is {name}, I'm {age}"
text14

### `replace(oldvalue, newvalue, count)`

- This method replaces a specified string with another. It takes three `arguments`:
   - `oldvalue`(required): the old string.
   - `newvalue`(required): the new string.
   - `count`(optional): specify how many occurences of the old value you want to replace.

In [ ]:
text15 = "I like Java"

res = text15.replace("Java", "Python")
print(res)

### `count(value, start, end)`

- It returns the number of times a certain value appears in the string.
- It takes 3 arguments:
    - `value`(required): the value we are looking for.
    - `satrt`(optional): the position to start the search. Default is 0
    - `end`(optional): the position to end the search. Default is the end of the string

In [ ]:
text15 = "Python is amazing. I love Python."

res = text15.count("Python")
print(res)

In [ ]:
res = text15.count("Python", 0, 40)
print(res)

### `find(value, start, end)`

- It finds the first occurrence of the specified value.

- It returns -1 if the value is not found. It is similar to `index()`

- It has 3 arguments:
  - `value`(required): the value we are looking for.
  - `start`(optional): the start of the search. Default is 0.
  - `end`(optional): the end of the search. Default is the end of the string

In [ ]:
text16 = "welcome to Purdue."

res = text16.find("to")
print(res)

In [ ]:
# find() and index()
print(text16.find("t"))
print(text16.index("t"))

<h1 align=center>2. Methods that return Boolean Value</h1>

- These methods return either `True` or `False`.

<table border="1">
    <tr>
        <th style="text-align: left" >Method</th>
        <th style="text-align: left" >Meaning</th>
    </tr>
     <tr>
        <td style="text-align: left" >startswith()</td>
        <td style="text-align: left" >True if the string starts with the specified value, otherwise False.
</td>
    </tr>
    <tr>
        <td style="text-align: left" >endswith()</td>
        <td style="text-align: left" >True if the string ends with the specified value, otherwise False.</td>
    </tr>
    <tr>
        <td style="text-align: left" >isalum()</td>
        <td style="text-align: left" >True if all the characters are alphabet letter (a-z) and numbers (0-9).</td>
    </tr>
    <tr>
        <td style="text-align: left" >isalpha()</td>
        <td style="text-align: left" >True if all the characters are letters (a-z).</td>
    </tr>
    <tr>
        <td style="text-align: left" >isascii()</td>
        <td style="text-align: left" >True if all the characters are ascii characters.</td>
    </tr>
     <tr>
        <td style="text-align: left" >isdecimal()</td>
        <td style="text-align: left" >True if all the characters are decimals.</td>
    </tr>
     <tr>
        <td style="text-align: left" >isdigit()</td>
        <td style="text-align: left" >True if all the characters are digits, otherwise False.</td>
    </tr>
    <tr>
        <td style="text-align: left" >isidentifier()</td>
        <td style="text-align: left" >True if the string is a valid identifier, otherwise False.</td>
    </tr>
    <tr>
        <td style="text-align: left" >islower()</td>
        <td style="text-align: left" >True if all the characters are in lower case, otherwise False.</td>
    </tr>
    <tr>
        <td style="text-align: left" >isupper()</td>
        <td style="text-align: left" >True if all the characters are in upper case, otherwise False.</td>
    </tr>
     <tr>
        <td style="text-align: left" >isnumeric()</td>
        <td style="text-align: left" >True if all the characters are numeric (0-9), otherwise False.</td>
    </tr>
    <tr>
        <td style="text-align: left" >istitle()</td>
        <td style="text-align: left" >returns True if all words in a text start with a upper case letter.</td>
    </tr>
    <tr>
        <td style="text-align: left" >isspace()</td>
        <td style="text-align: left" >returns True if all the characters in a string are whitespaces, otherwise False.</td>
    </tr>
    <tr>
        <td style="text-align: left" >isprintable()</td>
        <td style="text-align: left" >True if all the characters are printable, otherwise False.</td>
    </tr>
 </table>

### `startswith(value, start, end)`

- returns True if the string starts with the specified value, otherwise False.

- It has 3 arguments:
   - `value`(required)
   - `start`(optional)
   - `end`(optional)

In [ ]:
str1 = "Hello, welcome to Purdue."

res1 = str1.startswith("Hello")
print(res1) 

res2 = str1.startswith("llo", 2, 50)
print(res2)

### `endswith(value, start, end)`

- returns True if the string ends with the specified value, otherwise False.

- It has 3 arguments:
   - `value`(required)
   - `start`(optional)
   - `end`(optional)

In [ ]:
res3 = str1.endswith("due.")
print(res3) 

res4 = str1.endswith("e.", 3, 50)
print(res4)

### `isalnum()`

- returns True if all the characters are alphabet letter (a-z) and numbers (0-9).

In [ ]:
str2 = "Python2023"

res = str2.isalnum()
print(res)

In [ ]:
# space is not alnumeric
str3 = "Python 2023"

res = str3.isalnum()
print(x)

### `isalpha()`

- returns True if all the characters are letters (a-z).

In [ ]:
str4 = "Python"

res = str4.isalpha()
print(res)

In [ ]:
str5 = "Python 2023"

res = str5.isalpha()
print(res)

### `isascii()`

- returns True if all the characters are ascii characters.

- read about ascii characters: https://www.ascii-code.com/

In [ ]:
str6 = "Python 2023"

res = str6.isascii()
print(res)

### `isdecimal()`

- returns True if all the characters are decimals.

In [ ]:
str7 = "1234"

res = str7.isdecimal()
print(res)

### `isdigit()`

- returns True if all the characters are digits, otherwise False.

In [ ]:
str8 = "50800"

res = str8.isdigit()
print(res)

### `isidentifier()`

- returns True if the string is a valid identifier, otherwise False.

- A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [ ]:
str9 = "Purdue"

res = str9.isidentifier()
print(res)

In [ ]:
i1 = "MyPurdue"
i2 = "MyPurdue2023"
i3 = "2023MyPurdue"
i4 = "My Purdue"

print(i1.isidentifier())
print(i2.isidentifier())
print(i3.isidentifier())
print(i4.isidentifier())

### `islower()`

- returns True if all the characters are in lower case, otherwise False.

In [ ]:
str10 = "hello python"

res = str10.islower()

print(res)

### `isupper()`

- returns True if all the characters are in upper case, otherwise False.

In [ ]:
str11 = "PYTHON"

res = str11.isupper()
print(res)

### `isnumeric()`

- returns True if all the characters are numeric (0-9), otherwise False.
- "-1" and "1.5" are NOT considered numeric values. Why?!

In [ ]:
str12 = "565543"

res = str12.isnumeric()
print(res)

In [ ]:
a = "-1"
b = "1.5"

print(a.isnumeric())
print(b.isnumeric())

### `isprintable()`

- returns True if all the characters are printable, otherwise False.

In [ ]:
str13 = "Python is #1."

res = str13.isprintable()

print(res)

In [ ]:
str14 = "Python\nis #1."

res = str14.isprintable()
print(res)

### `isspace()`

- returns True if all the characters in a string are whitespaces, otherwise False.

In [ ]:
str15 = " "

res = str15.isspace()

print(res)

### `istitle()`

- returns True if all words in a text start with a upper case letter.

In [ ]:
str16 = "Welcome To Purdue"

res = str16.istitle()

print(res)

<h1 align=center>3. Other methods</h1>

- You can learn them later

<table border="1">
    <tr>
        <th style="text-align: left" >Method</th>
        <th style="text-align: left" >Meaning</th>
    </tr>
     <tr>
        <td style="text-align: left" >startswith()</td>
        <td style="text-align: left" >True if the string starts with the specified value, otherwise False.
</td>
    </tr>
    <tr>
        <td style="text-align: left" >endswith()</td>
        <td style="text-align: left" >True if the string ends with the specified value, otherwise False.</td>
    </tr>
    
 </table>

### `center(length, character)`

- aligns the string to the center, using a specified character.
- space is default as the fill character. It takes 2 parameters: `length` (required) and `character` (optional).

In [ ]:
other1 = "python"

res = other1.center(20)

print(res)

In [ ]:
other2 = "python"

res = other2.center(20, "X")

print(res)

### `encode(encoding, errors)`

- encodes a string using the specified encoding. 
- `utf-8` is the deafult encoding.
- It takes two arguments: `encoding` (optional) and `errors` (optional).

In [ ]:
other3 = "اسمي السّيّد"

res = other3.encode()

print(res)

In [ ]:
other4 = "اسمي السّيّد"

res = other3.encode(encoding="ascii", errors="backslashreplace")

print(res)

### `expandtabs(tabsize)`

- adjusts the tab size to the specified number of whitespaces.
- It takes 1 argument: `tabsize`(optional). Default is 8

In [ ]:
other5 = "P\ty\tt\th\to\tn"

res =  other5.expandtabs()

print(res)

### `index(value, start, end)`

- finds the first occurrence of a value.

- It takes three qrguments: `value`(required), `start`(optional), `end`(optional).

In [ ]:
other6 = "Python"

res = other6.index("P")

print(res)

### `ljust(length, character)`

- It aligns the string to the left using a character (space is default).

- It takes 2 arguments: `length` (required) and `character` (optional).

In [ ]:
other7 = "Python"

res = other7.ljust(20)

print(res, "is my favorite programming language.")

In [ ]:
other8 = "Python"

res = other8.ljust(10, "A")

print(res)

- more methods such as:

### `maketrans()`

### `partition()`

### `rpartition()`

### `rfind()`

### `rindex()`

### `rjust()`