<IMG align=left src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg" height=10>

<div align=right>
LC 263 / LING 398<br>
Elsayed Issa<br>
Fall 2024
</div>

<h1 align=center>Python Lab I</h1>

<h1 align=center>Variables and Strings</h1>

- create two variables `first_name` and `last_name` to store your first and lanst names
- print both variables

- create a variable called `full_name` and store your full name by concatenating both `first_name` and `last_name`

- create another variable called `my_age`, store your age, then use `format()` method or the f-string or both to produce the following sentence `My name is [YOURFULLNAME] and my age is [YOURAGE].`

- print the second letter of your `first_name` and `last_name`

- print the unique letters in your `full_name`

**hint** you may use `set()` method

- split your `full_name` into letters.

**hint** you may use `list()` method

- In the previous cell, we have a list of strings in your name

- use this list to produce your `full_name` unsplitted.

**hint** you may use `join()` method

- get the first and last letters in your `first_name` using 1) slicing, and 2) verify the result using `startswith()` and `endswith()` methods

- convert all characters in your `full_name` to upper case

- Sorry for bothering again :). Now, you need to capitalize the first letter of your first name and last name based on the previous cell.

**hint** you can use `title()` method directly or go around and use `capitalize()`

- What will happend if we use `capitalize()`?

- Finally, how many letter are in your `full_name`
- This includes the space `" "`

- replace the `first_name` in your `full_name` with a name you like

- Find the index for each `Python` in this string

In [ ]:
s = "Python is nice. Python is your friend."

- read the following string `kayak` from right to left (palindrome)

<h1 align=center>Lists</h1>

- split the following sentence into a list of tokens `Toto, I have a feeling we are not in Kansas anymore.`
- count how many tokens we have

- print out the word `Kansas`

- create a list of three colors, then append the color `gold` to it

- create a list of three colors, and delete the second one.

- create two lists. Each of three colors. Then extend the first list by adding the second

- create a list of number from 1 to 10, then reverse it.

- append 9 after 8 in the following nested list

In [ ]:
example_list = [1, 2, [3, 4, [5, 6, 7, 8], 10], 11, 12]

<h1 align=center>Tuples</h1>

- Reverse the following tuple. `No lemon, no melon` (palindrome)

- unpack the following tuple so that the output is as follows:

- `English vowels are aeiou`

- `English consonants are bcdfghjklmnpqrstvwxyz`

- Swap the following two tuples

In [ ]:
t1 = (10, 20)
t2 = (30, 40)

- create a new tuple by copying `Purdue` and `2003` from the following tuple so the new tuple should be `('Purdue', '2003')`

In [ ]:
my_tuple_3 = ("Welcome", "to", "Purdue", "2003", "!")